@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($input) {
	-webkit-box-shadow: $input;
     -moz-box-shadow: $input;
      -ms-box-shadow: $input;
          box-shadow: $input;
}

@mixin transition($args) {
	-webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
          transition: $args;
}

@mixin transition-delay($args) {
  -webkit-transition-delay: $args;
     -moz-transition-delay: $args;
      -ms-transition-delay: $args;
          transition-delay: $args;
}

@mixin transition-duration($args) {
  -webkit-transition-duration: $args;
     -moz-transition-duration: $args;
      -ms-transition-duration: $args;
          transition-duration: $args;
}

@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
          transform: $args;
}

@mixin column-width($input) {
  -webkit-column-width: $input;
     -moz-column-width: $input;
      -ms-column-width: $input;
          column-width: $input;
}

@mixin column-gap($input) {
  -webkit-column-gap: $input;
     -moz-column-gap: $input;
      -ms-column-gap: $input;
          column-gap: $input;
}
