// Colors

$orange: #fd8204;
$gray: #a29c99;
$light-gray: #efefef;
$dark-gray: #444444;
$black: #222222;

// Fonts

$font-poppins: Poppins;
$font-rubik: Rubik;
$fontawesome: Fontawesome;


// variables

$header-height: 65px;